<ul class="guest_only">
	<li><%= guest_form.text_field :visitor, :label => '', :size => 18, :required => true, 
																:class => 'guest_field', :title => '이름(필수입력)'  %></li>
	<li><%= guest_form.text_field :homepage, :label => '', :size => 40, 
																:class => 'guest_field', :title => '블로그 또는 홈페이지 주소'  %></li>
	<li><%= guest_form.password_field :password, :label => '비밀번호', :size => 10 %></li> 
</ul>	
<script type="text/javascript" charset="utf-8">
$('.guest_field').example(function() {
 	return $(this).attr('title'); 
});
</script>
