<li id="reply_<%= reply.id %>" class="reply">
	<div class="body">
		<%= reply.body %>
	</div>	
	<div class="atby right">
		by <%= link_to_author(reply) %> |
		<%= human_time(reply.created_at) %>
		<%#= link_to_function 'x' %>
	</div>	
</li>
