<div class="info float right">
</div>	

<%= page_title @board.title %>

<div class="right">
	<%= button_to '새글쓰기', new_board_post_path(@board), :method => :get if @board.public? || logged_in? %>
</div>

<% with_pagination @posts do %>
	<div id="post_list">	
		<%= render :partial => 'posts' %>	
	</div>
<% end %>

