<%= page_title @board.title %>

<div class="right">
	<%= button_to '새글쓰기', new_board_post_path(@board), :method => :get if @board.public? || logged_in? %>
</div>

<div id="summary" class="info">
	<%= page_entries_info @posts %>
</div>

<div id="post_list">	
	<%= render :partial => 'posts' %>	
</div>


