<ul id="top_nav" class="sf-menu">
<li><a href="/pages/notice">새소식</a></li><li><a href="/boards/ruby">커뮤니티</a></li><li><a href="/boards/active_record">레일스 레시피</a></li><li><a href="/boards/zi2">프로젝트</a></li></ul>